include INSTALL.md DEVELOPMENT.md API.md FAQ.md
include LICENSE NOTICE PYPI_README.md README.md
recursive-include examples *.py *.xml *.md
recursive-include examples/assets *.gif
recursive-include benchmarks *.py *.md *.json
